html {
    height: 100%;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    scroll-behavior: smooth;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0px;
    padding: 0px;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0px;
    padding: 0px;
    font-family: "Open Sans" "Arial" "sans serif";
    font-size: 18px;
    line-height: normal;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    object-fit: cover;
}

.container {
    max-width: 1180px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

li,
a {
    list-style: none;
    text-decoration: none;
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./Components/Fonts/roboto-v30-cyrillic_cyrillic-ext_latin_latin-ext-regular.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url('./Components/Fonts/roboto-v30-cyrillic_cyrillic-ext_latin_latin-ext-500.woff2') format('woff2');
}

@font-face {
    font-display: swap;
    font-family: 'Philosopher';
    font-style: normal;
    src: url('./Components/Fonts/philosopher-v19-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2');
    font-weight: 700;
  }